/***********************
Apartment HTML Site Template
Author: Jan Skwara - http://themeforest.net/user/johnnychaos
***********************/



body {
	background: #3797dd url(../images/bg-pattern5.jpg) repeat;
	font-family: 'Roboto', 'Arial', sans-serif;
}



/*********************** TEXT COLOR ***********************/



body,
.huge-header,
.list-offer-right,
.list-offer-right-large,
footer a,
.blue-ul a,
.tag-div,
address.contact-info a,
.ticks-ul a,
.custom-ul a,
.masonry-grid-item a,
.masonry-offers .masonry-grid-item a:hover,
.list-agency-right,
.list-agency-right-large,
.list-offer-text a,
.list-offer-text a:hover {
	color: #898989;
}

a,
.text-color4,
.top-dark .top-icon-circle,
header.header2 .top-dark .top-icon-circle,
header.header3 .top-dark .top-icon-circle,
.nav a.special-color,
.special-color,
.button-primary:hover,
.button-icon,
.feature-icon,
.feature2-icon,
.team-icon-circle:hover,
.big-icon:hover,
.blog-grid1-topline i.fa,
.blog-grid1-title h4:hover,
.blog-grid1-button, 
.blog-grid1-button-right,
.number-img i.fa,
footer a:hover,
.sidebar-featured-title a:hover,
.sidebar-featured-title a:active, 
.sidebar-featured-title a:focus,
.sidebar-featured-price,
.sidebar-blog-title a:hover,
.sidebar-blog-title a:active, 
.sidebar-blog-title a:focus,
.sidebar-blog-date i.fa,
.details-image i.fa,
.details-ticks li i.jfont,
.blue-ul a:hover, 
.blog-grid2-bottom i.fa,
.blog-top-icon i.fa,
.archive-item .title-link:hover h2, 
.archive-item .title-link:hover div,
.blog-big-icon i.fa,
.comment-date,
.reply-link,
.reply-link:hover, 
address.contact-info a:hover,
address.contact-info i.fa,
.quote-box .small-icon i.fa,
.quote-box .small-icon i.jfont,
.info-box .small-icon i.fa,
.info-box .small-icon i.jfont, 
.ticks-ul li i.jfont,
.ticks-ul a:hover,
.custom-ul li i.jfont,
.custom-ul a:hover,
.button-secondary,
.button-secondary:focus,
.button-secondary:active,
.list-agency .small-icon i.fa, 
.list-agency .small-icon i.jfont,
.details-agency-address i.fa,
.file-input .btn:hover,
.list-offer-h4 a:hover,
.change-photo i.fa,
.navigation-box-icon:hover,
.navigation-box-icon2:hover,
.big-icon {
	color: #3797dd;
}

.apartment-stacked-tabs .nav-tabs li.active a, 
.apartment-stacked-tabs .nav-tabs li.active a:hover {
	color: #3797dd !important;
}

.top-icon-circle:hover,
header.header2 .top-icon-circle:hover,
header.header3 .top-icon-circle:hover,
.top-dark,
header.header2 .top-dark,
.top-dark .top-icon-circle:hover,
header.header2 .top-dark .top-icon-circle:hover,
header.header3 .top-dark .top-icon-circle:hover,
header.header2 .nav a,
header.header3 .nav a,
header.header2 .special-color,
header.header3 .special-color,
.swiper2-price-button,
.shedule,
.shedule:hover,
.shedule:active,
.shedule:focus,
#adv-search-hide,
.button-primary,
.button-primary:active,
.button-primary:focus,
.navigation-box-icon ,
html.no-pointerevents.no-touchevents .feature:hover > .feature-icon,
html.no-pointerevents.no-touchevents .feature2:hover > .feature2-icon,
.team-icon-circle,
.gallery-grid-item span,
.big-icon-second-color i.fa,
.big-icon-second-color i.jfont,
.testimonial2 p.lead,
.list-price,
.count-second-color .number-img i.fa,
.count-second-color .number-big,
.gallery-slide-estate i.fa,
#slide-more-cont,
.thumb-next:hover .navigation-box-icon,
.thumb-prev:hover .navigation-box-icon,
.details-parameters-price,
.agent-icon-circle:hover,
.tag-div:hover,
.panel-apartment a[role="button"]:hover,
.apartment-tabs .nav-tabs li.active a,
.apartment-tabs .nav-tabs li a:hover, 
.apartment-tabs .nav-tabs li a:active, 
.apartment-tabs .nav-tabs li a:focus,
.apartment-stacked-tabs .nav-tabs li a:hover, 
.apartment-stacked-tabs .nav-tabs li a:active, 
.apartment-stacked-tabs .nav-tabs li a:focus,
.ul-second-color.custom-ul li,
.button-secondary:hover,
.button-alternative,
.button-alternative:active,
.button-alternative:focus,
.button-fourth,
.button-fourth:active,
.button-fourth:focus,
.price-table-secondary .price-table-ul li,
.list-agency-description,
.list-agency-description a,
.list-agency-description a:hover,
html.no-pointerevents.no-touchevents .list-agency:hover .list-agency-title,
.file-input .file-preview,
.file-input .file-drop-zone-title,
.file-input .close,
.file-input .btn,
.file-input .kv-file-remove,
.file-input .kv-file-remove i,
.profile-list-footer i.fa,
.labelled-input-short label:hover .label-icon-circle,
.change-photo:hover i.fa,
.facebook-button,
.google-button,
.infobox-price,
.gallery-filter,
.second-color,
.navbar-nav > li > a:hover, 
.navbar-nav > li > a:active, 
.navbar-nav > li > a:focus, 
header.header2 .navbar-nav > li > a:hover, 
header.header2 .navbar-nav > li > a:active, 
header.header2 .navbar-nav > li > a:focus,
header.header3 .navbar-nav > li > a:hover,
header.header3 .navbar-nav > li > a:active, 
header.header3 .navbar-nav > li > a:focus,
.nav .open > a, 
.nav .open > a:focus, 
.nav .open > a:hover,
.slide-desc-params,
.slide-desc-price,
html.no-pointerevents.no-touchevents #feature1.feature2:hover,
html.no-pointerevents.no-touchevents #feature2.feature2:hover,
html.no-pointerevents.no-touchevents #feature3.feature2:hover,
html.no-pointerevents.no-touchevents #feature4.feature2:hover,
html.no-pointerevents.no-touchevents #feature5.feature2:hover,
html.no-pointerevents.no-touchevents #feature6.feature2:hover,
html.no-pointerevents.no-touchevents .feature2:hover > .feature2-text,
html.no-pointerevents.no-touchevents .feature2:hover > .feature2-icon,
html.no-pointerevents.no-touchevents .feature:hover h3, 
html.no-pointerevents.no-touchevents .feature:hover h5,
html.no-pointerevents.no-touchevents .feature2:hover h4, 
.type-container,
.featured-offer-params,
.featured-price,
.team-description,
.list-offer-params,
.estate-type,
.transaction-type,
.grid-offer-params,
.blog-grid1-button:hover, 
.blog-grid1-button-right:hover,
footer address i.fa, .footer-blog-date i.fa,
.footer-newsletter button,
.sidebar-featured-type,
.gallery-slide-desc-price,
.navigation-box2.secondary .navigation-box-icon2:hover,
html.no-pointerevents.no-touchevents .feature:hover .feature-text {
	color: #ffffff;
}

.text-color2,
p.lead,
.nav a,
header.header2 .dropdown-menu a, 
header.header3 .dropdown-menu a, 
.dropdown-menu > li > a,
.select-cont select,
div.cs-skin-border,
.cs-skin-border.cs-active > span,
.cs-skin-border .cs-options,
.adv-search-amount,
.adv-search-label,
.adv-search-range-cont span,
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6,
.list-offer-localization,
.list-price-label,
.grid-offer-localization,
.grid-price-label,
.grid-price,
.blog-grid1-topline,
.blog-grid1-title h4,
.tooltip-inner,
.sidebar-featured-title,
.sidebar-featured-title a,
input.simple-search-input,
.sidebar-blog-title,
.sidebar-blog-title a,
input.main-input,
input[type="checkbox"].main-checkbox:checked + label,
input[type="checkbox"].main-checkbox + label,
textarea.main-input,
.blog-grid2-bottom,
.blog-top-icon,
.comment-author,
.error-box,
.warning-box,
.success-box,
.info-box,
.code-box .small-icon i.fa, 
.code-box .small-icon i.jfont,
.panel-apartment a[role="button"],
.price-table-icon,
.price-table-ul li,
.details-agency-address,
.details-parameters.agency-details,
.details-parameters.agency-details a:not(.agent-icon-circle),
.details-parameters.agency-details a:not(.agent-icon-circle):hover,
.bold-indent,
.profile-info-title,
.profile-info-text,
.list-offer-h4 a,
.labelled-input label,
.labelled-textarea label,
.labelled-input-short label,
.login-or,
.infobox-text,
.agent-social-bar,
.third-color,
.bootstrap-select .btn,
.bootstrap-select .dropdown-menu > .active > a, 
.bootstrap-select .dropdown-menu > .active > a:focus, 
.bootstrap-select .dropdown-menu > .active > a:hover {
	color: #5d5d5d;
}

input.simple-search-input::-webkit-input-placeholder,
input.simple-search-input::-moz-placeholder,
input.simple-search-input:-moz-placeholder,
input.simple-search-input:-ms-input-placeholder,
.footer-newsletter input::-webkit-input-placeholder,
.footer-newsletter input::-moz-placeholder,
.footer-newsletter input:-moz-placeholder,
.footer-newsletter input:-ms-input-placeholder 
.main-input::-webkit-input-placeholder,
.main-input::-moz-placeholder,
.main-input:-moz-placeholder,
.main-input:-ms-input-placeholder { 
	color: #5d5d5d !important;
}

.text-color3,
html.no-pointerevents.no-touchevents .feature:hover .special-color,
html.no-pointerevents.no-touchevents .feature2:hover .special-color,
.button-alternative:hover,
.button-alternative .button-icon {
	color: #1b2835;
}

.swiper2-text {
	color: #c8c8c8;
}

.adv-search-tabs li a {
	color: #979797;
}

.top-bar,
.top-icon-circle,
.agent-icon-circle,
.label-icon-circle {
	color: #a5a9ab;
}

header.header2 .top-bar,
header.header3 .top-bar,
header.header2 .top-icon-circle,
header.header3 .top-icon-circle {
	color: #cecece;
}

.panel-apartment a[aria-expanded="true"],
.dropdown-menu > li > a:hover, 
.dropdown-menu > li > a:active, 
.dropdown-menu > li > a:focus, 
.hover-menu,
header.header2 .hover-menu,
header.header3 .hover-menu,
.adv-search-tabs li.active a,
.adv-search-tabs li.active:hover a, 
.adv-search-tabs li.active:active a, 
.adv-search-tabs li.active:focus a {
    color: #ffffff !important;
}

.navigation-box-icon2,
.testimonials2-content {
	color: #ebebeb;
}

.navigation-box2.secondary .navigation-box-icon2 {
	color: #E3E3E3;
}

.offer-pagination a,
.thumb-box .navigation-box-icon {
	color: #b7b7b7;
}

.offer-pagination .active {
	color: #333333;
}

.count-second-color .number-label,
.ul-second-color.custom-ul li i.jfont {
	color: #82caff;
}

.error-box .small-icon i.fa, 
.error-box .small-icon i.jfont  {
	color: #c64b4b;
}

.warning-box .small-icon i.fa,
.warning-box .small-icon i.jfont  {
	color: #fbaf5d;
}

.success-box .small-icon i.fa,
.success-box .small-icon i.jfont  {
	color: #4fa74b;
}

.button-fourth:hover,
.button-fourth .button-icon {
	color: #22A41C;
}

html.no-pointerevents.no-touchevents .list-agency:hover .list-agency-text {
	color: #f8f8f8;
}

.facebook-button:hover {
	color: #395285;
}

.google-button:hover {
	color: #dd4b39;
}

.file-input .kv-file-remove:hover i {
	color: #c6454a !important;
}

.footer-newsletter input {
	color: #898989 !important;
}



/*********************** BACKGROUND COLOR ***********************/



.section-dark,
.top-bar-wrapper,
.tab-content,
.cs-skin-border .cs-options li span:hover,
.cs-skin-border li.cs-focus span,
section.thumbs-slider,
.thumb-box,
.details-parameters,
.contact1,
.contact3,
.apartment-tabs .nav-tabs li,
.apartment-stacked-tabs .nav-tabs li,
.list-agency,
.adv-search-tabs li a,
.labelled-input-short label,
.labelled-textarea label,
.labelled-input label,
.profile-list-footer,
.dark-col {
	background: #f8f8f8;	
}

.section-light,
header,
.top-dark .top-icon-circle,
header.header2 .top-dark .top-icon-circle,
header.header3 .top-dark .top-icon-circle,
.main-menu-cont,
.navbar-collapse,
.navbar-toggle,
.slide-desc-text,
div.cs-skin-border,
.button-icon,
html.no-pointerevents.no-touchevents .feature:hover .feature-separator,
.title-separator-secondary,
.title-separator-secondary2,
.owl-pagination .owl-page,
.owl-pagination .active,
.featured-offer-text, 
.featured-offer-back,
section.team,
.team-member,
.team-icon-circle:hover,
.big-icon,
.testimonials-content,
.list-offer-right,
.list-offer-right-large,
.list-offer-front, 
.list-offer-back,
.offer-pagination a,
.grid-offer-front, 
.grid-offer-back,
.tooltip-inner,
.gallery-slide-title,
input[type="checkbox"].main-checkbox + label span,
.form-submit-cont,
.blog-grid2-post-content,
.small-icon,
.apartment-tabs .tab-content,
.apartment-stacked-tabs .nav-tabs li.active a, 
.apartment-stacked-tabs .nav-tabs li.active a:hover,
.apartment-stacked-tabs .tab-content,
.button-secondary,
.button-secondary:focus,
.button-secondary:active,
.price-table-icon,
.price-table-body,
.price-table-footer,
.price-table-secondary .price-table-header,
.list-agency-left,
.file-input .btn:hover,
.file-input .file-preview-frame,
.change-photo,
#agent-file-name,
.facebook-button:hover,
.google-button:hover,
.infobox-main,
.neighbourhood-item,
.feature-icon,
.featured-offer-back,
.filter-icons-container,
.view-icons-container,
.blog-grid1-post-content,
.big-blog-grid1-item .blog-grid1-post-content,
.blog-grid1-button, 
.blog-grid1-button-right,
.big-blog-grid2-item .blog-grid2-post-content,
article.big-blog-grid2-item,
.cs-skin-border.cs-active > span,
.bootstrap-select .btn:hover,
.bootstrap-select .btn-default.active, 
.bootstrap-select .btn-default:active, 
.bootstrap-select .btn-default:focus, 
.bootstrap-select.open > .dropdown-toggle.btn-default {
	background: #ffffff;
}

.section-color,
.top-dark,
.top-dark .top-icon-circle:hover,
header.header2 .top-dark .top-icon-circle:hover,
header.header3 .top-dark .top-icon-circle:hover,
header.header2 .special-color,
header.header3 .special-color,
.navbar-toggle span.icon-bar,
.gallery-filter,
.navbar-nav > li > a:hover, 
.navbar-nav > li > a:active, 
.navbar-nav > li > a:focus,
.nav .open > a, 
.nav .open > a:focus, 
.nav .open > a:hover,
.dropdown-menu > li > a:hover, 
.dropdown-menu > li > a:active, 
.dropdown-menu > li > a:focus, 
.hover-menu,
header.header2 .dropdown-menu .hover-menu,
header.header3 .dropdown-menu .hover-menu,
.slide-desc-price,
.change-photo:hover,
#adv-search-hide,
.ui-slider-range,
.button-primary,
.button-primary:active,
.button-primary:focus,
.navigation-box,
.title-separator,
.title-separator-secondary::after,
.title-separator-secondary2::after,
.title-separator-primary::after,
.title-separator-primary2::after,
.featured-price,
.big-icon-second-color,
.list-price,
.blog-grid1-separator::after,
.footer-title-separator::after,
.footer-newsletter button,
.gallery-slide-estate,
.gallery-slide-desc-price,
#slide-more-cont,
.short-title-separator,
.blog-grid2-separator::after,
section.contact-page-1,
section.contact-map2,
.panel-apartment a[aria-expanded="true"],
.apartment-tabs .nav-tabs li.active a,
.price-table-header,
.price-table-secondary .price-table-body,
.price-table-secondary .price-table-footer,
.upload-gallery,
.file-input .btn,
.file-input,
.file-input .file-preview,
html.no-pointerevents.no-touchevents .feature:hover .feature-text {
	background: #3797dd;
}

.top-icon-circle:hover,
.agent-icon-circle:hover,
.labelled-input-short label:hover .label-icon-circle {
	background: #a5a9ab;
}

header.header2,
header.header3,
header.header2 .top-dark,
header.header2 .top-bar-wrapper,
header.header3 .top-bar-wrapper,
header.header2 .main-menu-cont, 
header.header3 .main-menu-cont,
header.header2 .navbar-collapse,
header.header3 .navbar-collapse,
header.header2 .navbar-nav > li > a:hover, 
header.header2 .navbar-nav > li > a:active, 
header.header2 .navbar-nav > li > a:focus,
header.header3 .navbar-nav > li > a:hover,
header.header3 .navbar-nav > li > a:active, 
header.header3 .navbar-nav > li > a:focus,
header.header2 .hover-menu,
header.header3 .hover-menu,
.navigation-box2,
.adv-search-amount {
	background: transparent;
}

header.header2 .top-icon-circle:hover,
header.header3 .top-icon-circle:hover {
	background: #cecece;
}

.slide-desc, 
.slide-desc-params,
.adv-search-section,
html.no-pointerevents.no-touchevents .feature:hover > .feature-icon,
.featured-offer-params,
.list-offer-params,
.infobox-price,
.grid-offer-params,
.button-alternative,
.button-alternative:active,
.button-alternative:focus,
.details-parameters-price {
	background: #1b2835;
}

.slider-overlay {
	background: #0e131f;
}

.list-agency-separator,
.slider-range,
.title-separator-primary,
.title-separator-primary2,
.blog-grid1-separator,
.blog-grid2-separator,
.post-comment-indent, 
.post-comment-indent-large {
	background: #ebebeb;
}


.adv-search-tabs li.active a,
.adv-search-tabs li.active:hover a, 
.adv-search-tabs li.active:active a, 
.adv-search-tabs li.active:focus a {
	background: #3797dd !important;
}

.estate-type,
.sidebar-featured-estate {
	background: #ee7e23;
}

.footer-separator,
.footer-title-separator,
.footer-blog-separator,
.footer-newsletter,
.small-cont {
	background: #0c1218;
}

.facebook-button {
	background: #395285;
}

.google-button {
	background: #dd4b39;
}

.profile-list-delete,
.file-input .kv-file-remove {
	background: #c6454a;
}

.profile-list-edit,
.sidebar-featured-transaction,
.button-fourth,
.button-fourth:active,
.button-fourth:focus,
.shedule,
.transaction-type {
	background: #22a41c;
}
	
.profile-list-delete:hover {
	background: #a2292d;
}

.profile-list-edit:hover {
	background: #1e8e19;
}

html.no-pointerevents.no-touchevents .list-agency:hover .list-agency-separator {
	background: #54abeb;
}

.agency-map,
.details-map,
.submit-property-map {
	background: #e1e1e1;
}

.loader-bg {
	background: #ffffff url(../images/loader.png) no-repeat center center;
}

header.header2.header-dark, 
header.header3.header-dark {
	background: rgba(27, 40, 53, 0.8)
}


.navbar-nav > li > a.dropdown-toggle:hover::after, 
.hover-menu::after {
	background: transparent url(../images/menu-carret.png) no-repeat bottom center;
}

header.header2 .navbar-nav > li > a.dropdown-toggle:hover::after, 
header.header2 .hover-menu::after,
header.header3 .navbar-nav > li > a.dropdown-toggle:hover::after, 
header.header3 .hover-menu::after {
	background: none;
}

.adv-search-tabs li.active::after, 
.adv-search-tabs li:hover::after  {
	background: transparent url(../images/menu-carret.png) no-repeat bottom center;
}

.select-cont {
	background: white url(../images/select-bg.png) no-repeat right center;
}

.bootstrap-select.btn-group .dropdown-toggle .caret {
	background: white url(../images/select-bg.png) no-repeat right center;
}

.cs-skin-border > span::after,
.cs-skin-border .cs-selected span::after {
	background: white url(../images/select-bg.png) no-repeat right center;
}

.ui-state-default, 
.ui-widget-content .ui-state-default, 
.ui-widget-header .ui-state-default {
	background: #ebebeb url(../images/range-bg.png) no-repeat center center;
}

.simple-search-cont {
	background: rgba(255,255,255,0.5);
}

.simple-search-cont.search-dark {
	background: rgba(27, 40, 53, 0.8);
}

.simple-search-cont .cs-skin-border > span::after,
.simple-search-cont .cs-skin-border .cs-selected span::after {
	background: white url(../images/select-bg2.png) no-repeat right center;
}

.simple-search-cont .bootstrap-select.btn-group .dropdown-toggle .caret {
	background: white url(../images/select-bg2.png) no-repeat right center;
}

html.no-pointerevents.no-touchevents #feature1:hover > .feature-text::after {
	background: #3797dd url(../images/feature-bg1.jpg) no-repeat center center;
}

html.no-pointerevents.no-touchevents #feature2:hover > .feature-text::after {
	background: #3797dd url(../images/feature-bg2.jpg) no-repeat center center;
}

html.no-pointerevents.no-touchevents #feature3:hover > .feature-text::after {
	background: #3797dd url(../images/feature-bg3.jpg) no-repeat center center;
}

html.no-pointerevents.no-touchevents #feature4:hover > .feature-text::after {
	background: #3797dd url(../images/feature-bg4.jpg) no-repeat center center;
}

html.no-pointerevents.no-touchevents #feature1.feature2:hover, 
html.no-pointerevents.no-touchevents #feature2.feature2:hover, 
html.no-pointerevents.no-touchevents #feature3.feature2:hover, 
html.no-pointerevents.no-touchevents #feature4.feature2:hover,
html.no-pointerevents.no-touchevents #feature5.feature2:hover,
html.no-pointerevents.no-touchevents #feature6.feature2:hover {
	background-color: rgba(62,155,222,0.8);
}

html.no-pointerevents.no-touchevents #feature1.feature2:hover::after {
	background: url(../images/feature-bg1.jpg) no-repeat center center; 
}

html.no-pointerevents.no-touchevents #feature2.feature2:hover::after {
	background: url(../images/feature-bg2.jpg) no-repeat center center;
}

html.no-pointerevents.no-touchevents #feature3.feature2:hover::after {
	background: url(../images/feature-bg3.jpg) no-repeat center center;
}

html.no-pointerevents.no-touchevents #feature4.feature2:hover::after {
	background: url(../images/feature-bg4.jpg) no-repeat center center;
}

html.no-pointerevents.no-touchevents #feature5.feature2:hover::after {
	background: url(../images/feature-bg1.jpg) no-repeat center center;
}

html.no-pointerevents.no-touchevents #feature6.feature2:hover::after {
	background: url(../images/feature-bg2.jpg) no-repeat center center;
}

section.featured-offers {
	background: #183263 url(../images/featured-bg.jpg) no-repeat fixed 50% 0;
}

.testimonials {
	background: #152560 url(../images/testimonials-bg.jpg) no-repeat fixed 50% 0;
}

section.blog-short-title {
	background: #475057 url(../images/short-bg4.jpg?v=0) no-repeat center;
}

footer.large-cont {
	background: #151F2B url(../images/footer-bg.jpg) no-repeat center 0px;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.footer-newsletter input {
	background: #0c1218 !important;
}

section.contact-short-title {
	background: #152560 url(../images/short-bg2.jpg) no-repeat center;
}

.quote-box,
.code-box,
.error-box,
.warning-box,
.success-box ,
.info-box {
	background: #f2f2f2;
}

section.agencies {
	background: #152560 url(../images/short-bg1.jpg) no-repeat center;
}

section.agency {
	background: #152560 url(../images/short-bg2.jpg) no-repeat center;
}


section.agent {
	background: #152560 url(../images/short-bg3.jpg) no-repeat center;
}


section.neighbourhood {
	background: #f8f8f8 url(../images/neighbourhood-bg.jpg) no-repeat fixed 50% 0;
}


section.rooms {
	background: #f8f8f8 url(../images/rooms-bg.jpg) no-repeat fixed 50% 0;
}



/*********************** BORDERS COLOR ***********************/


.section-dark,
.top-localization, 
.top-mail, 
.top-phone,
.top-social, 
.top-social-last,
.top-bar-wrapper,
.view-box,
.offer-pagination a,
.thumb-box .navigation-box-icon {
	border: 1px solid #e1e1e1;
}

.navbar-toggle,
.select-cont,
.cs-skin-border > span,
.cs-skin-border.cs-active > span,
.cs-skin-border .cs-options,
.cs-skin-border.cs-active .cs-options,
.navigation-box-icon2,
.team-name,
.list-offer-right,
.list-offer-right-large,
.list-grid-cont,
.list-offers,
.grid-offer-text,
.price-grid-cont,
.grid-offers,
.number_border,
.number_border3,
.sidebar,
.sidebar-left,
.sidebar-featured,
.sidebar article, 
.sidebar-left article,
.details-parameters,
.details-parameters-cont,
.details-map,
.agent-social-bar,
.agent-icon-circle,
input.main-input,
input[type="checkbox"].main-checkbox + label span,
textarea.main-input,
.form-submit-cont,
.blue-ul li,
.list-agency-right,
.list-agency-right-large,
.list-agency,
.agency-map,
.submit-property-map,
.center-button-cont-border,
.profile-list-info,
.labelled-input label,
.labelled-textarea label,
.labelled-input-short label,
.bootstrap-select .btn,
.bootstrap-select .btn-default.active, 
.bootstrap-select .btn-default:active, 
.bootstrap-select .btn-default:focus, 
.bootstrap-select.open > .dropdown-toggle.btn-default,
.bootstrap-select .dropdown-menu {
	border: 1px solid #ebebeb;
}

header.header2 .top-icon-circle,
header.header3 .top-icon-circle {
	border: 1px solid #cecece;
}

.top-icon-circle,
.dropdown-menu,
.agent-icon-circle:hover,
.label-icon-circle,
 .labelled-input-short label:hover .label-icon-circle {
	border: 1px solid #a5a9ab;
}

.blog-grid2-post-content,
.blog-grid2-bottom,
.tag-div,
.panel-apartment a[role="button"],
.apartment-tabs .nav-tabs li a,
.apartment-tabs .tab-content,
.apartment-stacked-tabs .tab-content,
.price-table-ul li {
	border: 1px solid #eaeaea;
}

.top-dark,
header.header2 .navbar-nav > li > a:hover, 
header.header2 .navbar-nav > li > a:active, 
header.header2 .navbar-nav > li > a:focus,
header.header3 .navbar-nav > li > a:hover,
.navigation-box-icon,
.feature-icon,
.testimonial2 .testimonials-photo,
.list-offer-photo,
.filter-box:hover,
.filter-box-active, 
.view-box-active,
header.header2 .top-dark .top-icon-circle,
header.header3 .top-dark .top-icon-circle,
.offer-pagination a:hover,
.offer-pagination .active,
.grid-offer-photo,
.thumb-next:hover .navigation-box-icon,
.thumb-prev:hover .navigation-box-icon,
input[type="checkbox"].main-checkbox:checked + label span,
.blue-ul .custom-ul-bullet,
.archive-item figur,
.quote-box,
.info-box,
.panel-apartment .panel-collapse,
.apartment-tabs .nav-tabs li.active a,
.apartment-tabs .nav-tabs li a:hover, 
.apartment-tabs .nav-tabs li a:active, 
.apartment-tabs .nav-tabs li a:focus,
.custom-ul .custom-ul-bullet,
.list-agency-photo,
.infobox-main {
	border: 1px solid #3797dd;
}


header.header2 .top-bar,
header.header3 .top-bar {
	border-bottom: 1px solid rgba(206,206,206,0.25);
}

.top-dark .top-icon-circle,
.swiper2-price-button,
html.no-pointerevents.no-touchevents .feature:hover > .feature-icon,
html.no-pointerevents.no-touchevents .team-member:hover .team-name,
.team-icon-circle,
.footer-ul li .custom-ul-bullet,
.apartment-stacked-tabs .nav-tabs li.active a, 
.apartment-stacked-tabs .nav-tabs li.active a:hover,
.gallery-grid-item {
	border: 1px solid #ffffff;
}

.file-input .file-drop-zone {
    border: 1px dashed #ffffff;
}

.top-dark {
	border-width: 0 1px;
}

.section-dark {
	border-width: 1px 0 1px 0;
}

.top-localization, 
.top-mail, 
.top-phone,
.top-social {
	border-width: 0 0 0 1px;
}

.top-social-last {
	border-width: 0 1px 0 1px;
}

.top-bar-wrapper {
	border-width: 0 0 1px 0;
}

header.header3 .nav a {
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

header.header2 .navbar-nav > li > a {
	border-top: 3px solid transparent;
}

header.header3 .navbar-nav > li > a {
	border-top: 3px solid transparent;
}

header.header2 .dropdown >.dropdown-menu::before, 
header.header3 .dropdown >.dropdown-menu::before {
	border-color: transparent transparent #ffffff transparent;
}

header.header2 .navbar-nav > li > a:hover, 
header.header2 .navbar-nav > li > a:active, 
header.header2 .navbar-nav > li > a:focus,
header.header3 .navbar-nav > li > a:hover {
	border-width: 3px 0 0 0;
}

header.header3 .navbar-nav > li > a:active, 
header.header3 .navbar-nav > li > a:focus {
	border-top: 3px solid transparent;
}

.dropdown-submenu > a::after {
    border-color: transparent;
    border-width: 5px 0 5px 5px;
    border-left-color: #cccccc;
}

.adv-search-tabs li.active::after, 
.adv-search-tabs li:hover::after  {
	border-color: transparent transparent #f8f8f8 transparent;
}

.cs-skin-border > span::after,
.cs-skin-border .cs-selected span::after {
	color: rgba(0,0,0,0);
}

.ui-state-default, 
.ui-widget-content .ui-state-default, 
.ui-widget-header .ui-state-default {
	border: 4px solid #004a80;
}

.button-triangle {
	border-color: transparent transparent #ffffff transparent;
}

.button-triangle2 {
	border-color: transparent transparent #3797dd transparent;
}

.navigation-triangle {
	border-color: transparent transparent #ffffff transparent;
}

.navigation-box2.secondary .navigation-box-icon2 {
	border: 1px solid #E3E3E3;
}

.navigation-box2.secondary .navigation-triangle {
	border-color: transparent transparent #3797dd transparent;
}

.simple-search-cont .cs-skin-border > span::before {
	border-color: transparent transparent transparent #3797dd;
}

.simple-search-cont span.filter-option::before {
	border-color: transparent transparent transparent #3797dd;
}

.feature-icon {
	border-width: 2px;
}

html.no-pointerevents.no-touchevents .feature:hover > .feature-icon {
	border-width: 2px;
}
.featured-offer-photo{
    height: 271px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.featured-offer-photo,
.neighbourhood-photo {
	border-bottom: 2px solid #1b2835;
}

.team-name {
	border-width: 0px 1px 1px 1px;
}

html.no-pointerevents.no-touchevents .team-member:hover .team-name {
	border-width: 0px 1px 1px 1px;
}

.big-triangle  {
	border-color: transparent transparent #3797dd transparent;
}

.big-triangle-second-color  {
	border-color: transparent transparent #0c1218 transparent;
}

.big-triangle2 {
	border-color: transparent transparent #ffffff transparent;
}

.testimonial2 .testimonials-photo {
	border-width: 4px;
}

.list-offer-right,
.list-offer-right-large {
	border-width: 1px 1px 1px 0px;
}

.list-offer-photo {
	border-width: 0 0 2px 0;
}

.list-grid-cont,
.list-offers {
	border-width: 1px 1px 0px 1px;
}

.view-box,
.offer-pagination a {
	border-width: 1px;
}

.grid-offer-photo {
	border-width: 0 0 2px 0;
}

.grid-offer-text {
	border-width: 0px 1px 0px 1px;
}

.price-grid-cont,
.grid-offers {
	border-width: 1px 1px 0px 1px;
}

.blog-grid1-button .blog-grid1-triangle, .blog-grid1-button-right .blog-grid1-triangle {
	border-color: transparent transparent #3797dd transparent;
}

.number_border,
.number_border3 {
	border-width: 0 0 0 1px;
}

.count-second-color .number_border,
.count-second-color .number_border3 {
	border-left: 1px solid #82caff;
}

.footer-ul li {
	border-bottom: 1px solid #0c1218;
}

.footer-ul li .custom-ul-bullet {
	border-width: 2px;
}

.tooltip-arrow {
	border-top-color: #ffffff !important;
}

.tooltip.bottom .tooltip-arrow {
	border-bottom-color: #ffffff !important;
}

.sidebar {
	border-width: 0 0 0 1px;
}

.sidebar-left {
	border-width: 0 1px 0 0;
}

.sidebar-featured {
	border-width: 0 0 1px 0;
}

.sidebar article, .sidebar-left article {
	border-width: 0 0 1px 0;
}

.thumb-box .navigation-triangle {
	border-color: transparent transparent #3797dd transparent;
}

.details-parameters {
	border-width: 0 1px 1px 1px;
}

.details-parameters-cont {
	border-width: 0 0 1px 0;
}

.agent-social-bar {
	border-width: 1px 0 1px 0;
}

input[type="checkbox"].main-checkbox + label span::after {
	border-color: transparent transparent #3797dd transparent;
}

input[type="checkbox"].main-checkbox:checked + label span::after {
	border-color: transparent transparent #3797dd transparent;
}

.form-submit-cont {
	border-width: 0 1px 1px 1px;
}

.blue-ul li {
	border-width: 0 0 1px 0;
}

.blue-ul .custom-ul-bullet {
	border-width: 2px;
}

.blog-grid2-post-content {
	border-width: 0 1px 1px 1px;
}

.archive-item figure {
	border-width: 0 0 2px 0;
}

.quote-box {
	border-width: 0 0 0 3px;
}

.code-box {
	border-left: 3px solid #5d5d5d;
	border-width: 0 0 0 3px;
}

.error-box {
	border-left: 3px solid #c64b4b;
}

.warning-box {
	border-left: 3px solid #fbaf5d;
}

.success-box {
	border-left: 3px solid #4fa74b;
}

.info-box {
	border-width: 0 0 0 3px;
}

.quote-box .small-triangle  {
	border-color: transparent transparent #3797dd transparent;
}

.code-box .small-triangle  {
	border-color: transparent transparent #5d5d5d transparent;
}

.error-box .small-triangle  {
	border-color: transparent transparent #c64b4b transparent;
}

.warning-box .small-triangle  {
	border-color: transparent transparent #fbaf5d transparent;
}

.success-box .small-triangle  {
	border-color: transparent transparent #4fa74b transparent;
}

.info-box .small-triangle  {
	border-color: transparent transparent #3797dd transparent;
}

.panel-apartment a[role="button"] {
	border-width: 1px 0px 0px 0px;
}

.panel-apartment a[role="button"] .button-triangle {
	border-color: transparent transparent #3797dd transparent;
}

.panel-apartment a[role="button"] .button-triangle2 {
	border-color: transparent transparent #f8f8f8 transparent;
}

.panel-apartment a[aria-expanded="true"] .button-triangle {
	border-color: transparent transparent #ffffff transparent;
}

.panel-apartment .panel-collapse {
	border-width: 0 0 0 2px;
}

.apartment-tabs .nav-tabs li a {
	border-width: 1px 1px 0 1px;
}

.apartment-tabs .nav-tabs li a .button-triangle2 {
	border-color: transparent transparent #3797dd transparent;
}

.apartment-tabs .nav-tabs li.active a {
	border-width: 1px 1px 0 1px;
}

.apartment-tabs .nav-tabs li.active::after, 
.apartment-tabs .nav-tabs li:hover::after  {
	border-color: transparent transparent #ffffff transparent;
}

.apartment-tabs .nav-tabs li a:hover, 
.apartment-tabs .nav-tabs li a:active, 
.apartment-tabs .nav-tabs li a:focus {
	border-width: 1px 1px 0 1px;
}

.apartment-stacked-tabs .nav-tabs li a .button-triangle2 {
	border-color: transparent transparent #3797dd transparent;
}

.apartment-stacked-tabs .nav-tabs li a,
.apartment-stacked-tabs .nav-tabs li a:hover {
	border-color: #ebebeb #3797dd #ebebeb #ebebeb;
	border-width: 1px 2px 1px 1px;
}

.apartment-stacked-tabs .nav-tabs li.active a,
.apartment-stacked-tabs .nav-tabs li.active a:hover {
	border-color: #ebebeb transparent #ebebeb #ebebeb;
	border-width: 1px 2px 1px 1px;
}


.custom-ul .custom-ul-bullet {
	border-width: 2px;
}

.ul-second-color.custom-ul .custom-ul-bullet {
	border: 2px solid #82caff;
}		

.button-secondary .button-triangle {
	border-color: transparent transparent #3797dd transparent;
}

.button-secondary .button-triangle2 {
	border-color: transparent transparent #ffffff transparent;
}

.button-alternative .button-triangle {
	border-color: transparent transparent #ffffff transparent;
}

.button-alternative .button-triangle2 {
	border-color: transparent transparent #1b2835 transparent;
}

.button-fourth .button-triangle {
	border-color: transparent transparent #ffffff transparent;
}

.button-fourth .button-triangle2 {
	border-color: transparent transparent #22A41C transparent;
}

.price-table-triangle {
	border-color: transparent transparent transparent #ffffff;
}

.price-table-triangle2 {
	border-color: transparent transparent #3797dd transparent;
}

.price-table-ul li {
	border-width: 0 0 1px 0;
}

.price-table-secondary .price-table-triangle {
	border-color: transparent transparent transparent #3797dd;
}

.price-table-secondary .price-table-triangle2 {
	border-color: transparent transparent #ffffff transparent;
}

.price-table-secondary .price-table-ul li {
	border-bottom: 1px solid #4aa8ec;
}

.list-agency-right {
	border-width: 0 0 0 1px;
}

.list-agency-right-large {
	border-width: 0 0 0 1px;
}

.list-agency-photo {
	border-width: 0 0 2px 0;
}

.list-agency .small-triangle  {
	border-color: transparent transparent #3797dd transparent;
}

.small-triangle2 {
	border-color: transparent transparent #ffffff transparent;
}

html.no-pointerevents.no-touchevents .list-agency:hover .list-agency-right,
html.no-pointerevents.no-touchevents .list-agency:hover .list-agency-right-large {
	border-color: #54abeb;
}

.center-button-cont-border {
	border-width: 1px 0 0 0;
}

.profile-list-info {
	border-width: 0 1px 0 0;
}

.labelled-input label {
	border-width: 1px 0 1px 1px;
}

.labelled-textarea label {
	border-width: 1px 1px 0px 1px;
}

.labelled-input-short label {
	border-width: 1px 0 1px 1px;
}

.facebook-button {
	border: 1px solid #395285;
}

.google-button {
	border: 1px solid #dd4b39;
}

.infobox-main {
	border-width: 0 0 0 4px;
}

.infobox-main::before {
	border-color: transparent #3797dd transparent transparent;
}

.blog-grid2-bottom {
	border-width: 1px 0 0 0;
}

.details-parameters-cont-last {
	border-bottom: 0px;
}

li.ap-submenu {
	border-bottom: none;
}

.price-table-ul li:last-child {
	border-bottom: none;
}


@media only screen and (max-width: 991px) {

	.sidebar, .sidebar-left  {
		background: #f8f8f8;
	}	
}

@media only screen and (max-width: 767px) {
	
	header.header2 .navbar-collapse,
	header.header3 .navbar-collapse {
		background: #ffffff;
		color: #5d5d5d;
	}
	
	header.header2 .navbar-nav > li > a,
	header.header3 .navbar-nav > li > a {
		color: #5d5d5d;
	}
	
	header.header2 .navbar-nav > li > a:hover,
	header.header3 .navbar-nav > li > a:hover {
		color: #ffffff;
		background: #3797dd;
	}
	
	.dropdown-submenu a, 
	.dropdown-menu a {
		background: #f8f8f8;
	}
	
	a.hover-menu {
		background: #f8f8f8;
		color: #5d5d5d !important;
	}
	
	.dropdown-submenu > .dropdown-menu a {
		background: #ebebeb;
	}
	
	.big-blog-grid2-item .blog-grid2-post-content {
		border: 0px solid #eaeaea;
		border-width: 0 1px 1px 1px;
	}
	
	.simple-search-cont {
		background: #1a2633;
	}
	
	.list-offer-right, .list-offer-right-large {
		border-width: 0px;
	}
	
	.list-offer {
		border: 1px solid #eaeaea;
	}
	
}


@media only screen and (min-width: 768px)  {
	header.header2.sticky,
	header.header3.sticky {
		background: #1B2835;
	}
	
}

@media only screen and (max-width: 480px) {
	.simple-search-cont input.simple-search-input {
		border-bottom: 1px solid #ebebeb;
	}
}