/* Your custom styles */
@font-face {
    font-family: Lato-Black;
    src: url(../font/Lato2OFL/Lato-Regular.ttf);
}
@font-face {
    font-family: Lato-Regular;
    src: url(../font/Lato2OFL/Lato-Regular.ttf);
}
@font-face {
    font-family: Lato-Bold;
    src: url(../font/Lato2OFL/Lato-Bold.ttf);
}
*{padding:0;margin:0;}
body{font-family: Lato-Regular;color:#777}
.width-100{width:100%}
.mt-100{margin-top: 100px}
.plan_situation{background: url(../images/triangle.png) no-repeat;padding-left: 0px;padding-top: 115px;padding-bottom: 135px;}
.border-radius-0{border-radius: 0;}
.back-grey{background: #ececec;}
.text-red{color: #d40d1f}
.back-red{background:#d40d1f}
.div-btn-red{text-align: right}
.btn-red{background:#d40d1f;color: #fff;font-size: 12px;padding: 9px;border: none;cursor: pointer;width:100% }
.btn-envoyer{background: #d40d1f;color: #fff;font-size: 12px;padding: 10px 20px;border: none;cursor: pointer;text-transform: uppercase;float: right; }
.btn-envoyer:hover{opacity: .5;}
.footer-copyright{background: #d40d1f;color: #fff}
.footer-copyright a{color: #fff}
h2.red-title{color: #d40d1f;font-size:16px;font-family: Lato-Bold;text-transform: uppercase}
.navbar a{font-family: Lato-Black;color:#363738;font-size: 12px;text-transform: uppercase}
.navbar.navbar-light .breadcrumb .nav-item.active > .nav-link, .navbar.navbar-light .navbar-nav .nav-item.active > .nav-link{background: none;border-bottom: 5px solid #d40d1f}
.navbar.navbar-light .breadcrumb .nav-item .nav-link:hover, .navbar.navbar-light .navbar-nav .nav-item .nav-link:hover{background: none;border-bottom: 5px solid #d40d1f;cursor: pointer}

.mytabs .nav-item .nav-link {color: #000;text-transform: uppercase;padding-bottom: 5px}
.mytabs .nav-item .nav-link:hover,.mytabs .nav-item .nav-link:focus {padding-bottom: 0;border-bottom: 5px solid #d40d1f}


.nav-item .dropdown-menu .dropdown-item:hover,.nav-item .dropdown-menu .dropdown-item:focus{background: none;border-bottom: 4px solid #d40d1f;padding-bottom: 0rem}
.navbar .dropdown-menu a{}
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){width:100%}
.bootstrap-select > .dropdown-toggle.bs-placeholder .caret, .bootstrap-select > .dropdown-toggle.bs-placeholder:hover .caret, .bootstrap-select > .dropdown-toggle.bs-placeholder:focus .caret, .bootstrap-select > .dropdown-toggle.bs-placeholder:active .caret{color: #000}
/*swiper*/
.navbar.scrolling-navbar.top-nav-collapse{background: #fff}
.navbar.scrolling-navbar{padding: 5px;}
.swipe-div{margin-top: 92px; width: 100%}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.content-page{
    margin-top: 92px;
    padding-top: 40px;
}
h1.page-title {
    color: #d40d1f;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 10px;
    font-family: "Lato";
    text-transform: uppercase;
}
@media (min-width: 1200px){

}
@media (min-width: 992px) and (max-width: 1199px){


}
@media (min-width: 768px) and (max-width: 991px) and (orientation:portrait){  

}

@media (min-width: 768px) and (max-width: 991px) and (orientation:landscape){}   
/*mobile vertical*/
@media (max-width: 767px) and (orientation:portrait){
    .div-btn-red{text-align: center}
    .plan_situation{padding-left: 0px;padding-top: 110px;padding-bottom: 0px;}
    .portfolio-item{ width: 100%; }
}
/*mobile horizontal*/
@media (max-width: 767px) and (orientation:landscape){
    .div-btn-red{text-align: center}
    .plan_situation{padding-left: 0px;padding-top: 110px;padding-bottom: 0px;}
    .portfolio-item{ width: 100%; }
}  
@media (max-width: 799px) and (max-height: 479px) and (orientation:landscape){
}
@media (max-width: 479px) and (max-height: 799px) and (orientation:portrait){
}
.no-padding{
    padding: 0;
}
.text-color{
    color: #d40d1f !important;
}
.isotope {
    margin-top: 30px;
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
    padding: 0;
}
.portfolio-item{
    width: 33.333%;
}
.field-label {
    font-weight: bold;
}
.equipements .field-label {
    font-size: 25px;
    font-family: "Lato";
    text-transform: uppercase;
    position: absolute;
    top: 100px;
}
.equipements {
    background: #d40d1f url(../images/eqp.jpg) no-repeat top;
    color: #fff;
    padding: 170px 10px 10px 10px;
    margin-top: 50px;
}
.equipements {
    position: relative;
    padding-left: 50px;
    padding-right: 150px;
}
.equipements ul{
    margin-left: 30px;
}
.financement-tabs .nav-item{
    width: 50%;
}
.nav-tabs .nav-link.active {
    color: #d40d1f;
    background-color: #fff;
    border-color: #d40d1f #d40d1f #fff;
}
a.nav-link{
    color: #c9c9c9
}
@media only screen and (max-width: 800px) {

    /* Force table to not be like tables anymore */
    #no-more-tables table, 
    #no-more-tables thead, 
    #no-more-tables tbody, 
    #no-more-tables th, 
    #no-more-tables td, 
    #no-more-tables tr { 
        display: block; 
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    #no-more-tables thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #no-more-tables tr { border: 1px solid #ccc; }

    #no-more-tables td { 
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee; 
        position: relative;
        padding-left: 50%; 
        white-space: normal;
        text-align:left;
    }

    #no-more-tables td:before { 
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
    }

    /*
    Label the data
    */
    #no-more-tables td:before { content: attr(data-title); }
}
.small {
    padding: 6px 23px 6px 23px;
    font-size: 12px;
}
.table-bordered td,
.table-bordered th{
    padding: 5px;
}
.property {
    background: white;
    position: relative;
    margin-bottom: 30px;
}
.shadow-hover {
    transition: all 0.4s linear;
}
.property-img {
    position: relative;
    display: block;
    height: 250px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
}
.button {
    font-size: 15px;
    font-weight: 600;
    padding: 10px 35px 10px 35px;
    color: white;
    border-radius: 3px;
    border: none;
    background-color: #777;
    display: inline-block;
    width: auto;
    cursor: pointer;
    transition: all 0.2s linear;
}
.img-fade {
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
}
.property-tag {
    position: absolute;
    padding: 3px 8px;
    font-size: 12px;
    z-index: 20;
}
.property-tag.featured {
    right: 10px;
    margin-top: 10px;
}
.property-tag.status {
    right: 10px;
    bottom: 10px;
}
.button.disponible {
    background: #5fc97e;
    color: #fff;
}
.property-color-bar {
    background: #ffc0b9;
    height: 3px;
    width: 0;
    position: absolute;
    z-index: 20;
    bottom: 0px;
    transition: all 0.4s;
}
.property-content {
    padding: 5%;
}
.property-title {
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.property-title h4 {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.property-content p {
    margin: 0;
}
.property-content .property-address {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.property-details {
    color: #9eaab2;
    font-weight: 700;
    width: 100%;
    font-size: 13px;
}
.property-details td {
    width: 33.33%;
}
.property-footer {
    background: #ffc0b9;
    padding: 3% 5%;
    color: #86929a;
    font-size: 13px;
    font-weight: 400;
    height: 40px;
}
.property-footer a{
    color: #fff;
}
.left{
    float: left;
}
.right{
    float: right;
}
.property:hover .property-color-bar {
    width: 100%;
}
.button.vendu:hover {
    background: red;
    color: #fff;
}
.button.vendu {
    background: red;
    color: #fff;
}
.property-title a{
    color: red;
}
.property-title a:hover,
.property-footer a:hover{
    text-decoration: none;
}
.view-icons-container {
    text-align: right;
    float: right;
}
.view-box {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 0 0 0 10px;
    position: relative;
}
.view-box {
    border: 1px solid #e1e1e1;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
}
.view-box {
    border-width: 1px;
}
.view-box img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.view-box-active{
    border: 1px solid #ffc0b9;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
}
.item-list ul {
    margin: 0;
    padding: 0 0 0 1.5385em;
}
.item-list .pager {
    clear: both;
    text-align: center;
}
.pager li {
    display: inline-block;
    padding: 5px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px;
    margin-right: 8px;
}
#no-more-tables{
    margin-bottom: 25px;
}
.pager a,.pager a:hover{
    color: red;
    text-decoration: none;
}

/************** jihed *************/
.plans{
    position: relative;
}
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 9;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.overlay-plan{
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0,0,0,0.5);
    z-index: 21;
}
.help-block ul{
    margin-left: 30px;
    margin-top: 10px;
    color: red;
}
.projets .property .property-title{
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}
.projets .property .property-content{
    background: #eee;
}
.projets .property .property-description{
    min-height: 190px;
}
.owl-carousel.owl-loaded .owl-item .item {
    width: 100% !important;
    max-width: 100% !important;
}

.owl-carousel.owl-loaded .owl-nav > div {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #e1e1e1;
    border-radius: 0;
    color: #303030;
    font-size: 22px;
    height: 40px;
    line-height: 38px;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    top: 45%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: all 0.5s ease 0s;
    width: 40px;
    left: -5px;
    text-align: center;
}
.owl-carousel.owl-loaded .owl-nav .owl-next{
    left: auto;
    right: -5px;
}
.owl-carousel.owl-loaded:hover .owl-nav > div{
    opacity: 1;
}
.owl-carousel.owl-loaded .owl-nav > div:hover{
    background: red;
    border-color: red;
    color: white;
}
.slider-content {
    position: absolute;
    text-align: left;
}
.slider-content .caption-slider{
    background: rgba(0,0,0,0.5);
    display: inline-block;
}
.slider-content .name-project-slider{
    text-align: left;
    font-size: 70px;
    color: white;
    display: inline-block;
    padding: 25px;
    margin: 0;
    text-transform: uppercase;
}
.slider-content a:hover{
    text-decoration: none;
}
.slider-content .btn-slider{
    margin-top: 15px;
    display: block;
    border-radius: 0;
    background: #d40d1f;
    color: #fff;
}
@media (max-width: 767px) {
    .slider-content .name-project-slider{
        font-size: 13px;
        padding: 10px;
    }
}
@media (max-width: 992px) {
    .slider-content .name-project-slider{
        font-size: 30px;
        padding: 15px;
    }
}
.result ul{
    margin-left:40px;
    line-height:2;
}